In [13]:
import pandas as pd
import numpy as np

In [5]:
df = pd.read_csv("data/trr_trr_refresh.csv")

/Users/xingbangliu/.local/share/virtualenvs/The-Dapper-Squirrels-zr-O-A32/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3444: DtypeWarning: Columns (15) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [15]:
df.head(5)

,id,beat,block,direction,street,location,trr_datetime,indoor_or_outdoor,lighting_condition,weather_condition,...,subject_gender,subject_race,officer_id,officer_unit_id,officer_unit_detail_id,point,created_at,updated_at,crid,event_id
0,7656,732,70XX,South,Emerald Ave,Residence Porch/Hallway,2005-04-10 17:40:00+00,Outdoor,DAYLIGHT,CLEAR,...,F,BLACK,26342.0,8,NaN,0101000020E61000006B4194D42EE955C079B29B19FDE1...,2019-01-09 04:43:07.860473+00,2019-01-09 04:43:11.294093+00,NaN,510014956
1,7657,1014,16XX,South,Avers Ave,Vacant Property,2005-04-10 18:15:00+00,Outdoor,DAYLIGHT,CLEAR,...,M,BLACK,29831.0,11,NaN,0101000020E6100000FBEAAA402DEE55C0EBE2361AC0ED...,2019-01-09 04:43:07.860473+00,2019-01-09 04:43:11.294093+00,NaN,510015704
2,7658,1021,14XX,South,Homan Ave,Residence Porch/Hallway,2005-04-10 20:30:00+00,Indoor,GOOD ARTIFICIAL,CLEAR,...,NaN,BLACK,5193.0,120,NaN,0101000020E61000000EA6BCB17BED55C020D6766E35EE...,2019-01-09 04:43:07.860473+00,2019-01-09 04:43:11.294093+00,NaN,510020475
3,7659,0,14XX,South,Homan Blvd,Residence Porch/Hallway,2005-04-10 20:30:00+00,Indoor,GOOD ARTIFICIAL,CLEAR,...,M,BLACK,26025.0,120,NaN,0101000020E61000000EA6BCB17BED55C020D6766E35EE...,2019-01-09 04:43:07.860473+00,2019-01-09 04:43:11.294093+00,NaN,510020475
4,7660,2525,22XX,North,Springfield Ave,Apartment,2005-04-10 21:35:00+00,NaN,NaN,NaN,...,M,HISPANIC,697.0,30,26.0,0101000020E61000009A39C9FB5DEE55C0C24EB16A10F6...,2019-01-09 04:43:07.860473+00,2019-01-09 04:43:11.294093+00,NaN,510020572

In [39]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 67019 entries, 0 to 67018
Data columns (total 42 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   id                                67019 non-null  int64
 1   beat                              67019 non-null  int64
 2   block                             67019 non-null  object
 3   direction                         66969 non-null  object
 4   street                            67019 non-null  object
 5   location                          67019 non-null  object
 6   trr_datetime                      67019 non-null  object
 7   indoor_or_outdoor                 63414 non-null  object
 8   lighting_condition                63381 non-null  object
 9   weather_condition                 63220 non-null  object
 10  notify_OEMC                       67019 non-null  bool
 11  notify_district_sergeant          67019 non-null  bool
 12  notify_OP_command                 67019 non-null  bool
 13  notify_DET_division               67019 non-null  bool
 14  number_of_weapons_discharged      10579 non-null  float64
 15  party_fired_first                 5741 non-null   object
 16  location_recode                   67019 non-null  object
 17  taser                             67019 non-null  bool
 18  total_number_of_shots             67019 non-null  int64
 19  firearm_used                      67019 non-null  bool
 20  number_of_officers_using_firearm  67019 non-null  int64
 21  officer_assigned_beat             65691 non-null  object
 22  officer_on_duty                   67019 non-null  bool
 23  officer_in_uniform                67019 non-null  bool
 24  officer_injured                   67019 non-null  bool
 25  officer_rank                      67018 non-null  object
 26  subject_id                        67019 non-null  int64
 27  subject_armed                     67019 non-null  bool
 28  subject_injured                   66945 non-null  object
 29  subject_alleged_injury            66939 non-null  object
 30  subject_age                       66989 non-null  float64
 31  subject_birth_year                66991 non-null  float64
 32  subject_gender                    66961 non-null  object
 33  subject_race                      66141 non-null  object
 34  officer_id                        66732 non-null  float64
 35  officer_unit_id                   67019 non-null  int64
 36  officer_unit_detail_id            8146 non-null   float64
 37  point                             67019 non-null  object
 38  created_at                        67019 non-null  object
 39  updated_at                        67019 non-null  object
 40  crid                              4244 non-null   float64
 41  event_id                          67019 non-null  object
dtypes: bool(10), float64(6), int64(6), object(20)
memory usage: 17.0+ MB

In [43]:
df['subject_armed'] = df['subject_armed'].astype(object)

df['subject_armed']

0        False
1        False
2        False
3        False
4        False
         ...
67014    False
67015    False
67016    False
67017    False
67018    False
Name: subject_armed, Length: 67019, dtype: object

In [52]:
df['firearm_reloaded'] = df['firearm_reloaded'].astype(bool)
df['sight_used'] = df['sight_used'].astype(bool)
df['officer_appointed_date'] = pd.to_datetime(df['officer_appointed_date'])
df['officer_birth_year'] = df['officer_birth_year'].astype(int)
df['status_datetime'] = pd.to_datetime(df['status_datetime'])

In [63]:
df['trr_datetime'] = pd.to_datetime(df['trr_datetime'], utc=True)
df['beat'] = df['beat'].astype(int)
# df[df['officer_appointed_date'] == 'REDACTED' ] = df[df['officer_appointed_date'] == 'REDACTED' ].fillna(0)
# df[df['officer_appointed_date'] != 'REDACTED' ] = pd.to_datetime(df[df['officer_appointed_date'] != 'REDACTED' ], utc=True)
#df[df['officer_appointed_date'] != 'REDACTED' ]['officer_appointed_date'] =pd.to_datetime(df[df['officer_appointed_date'] != 'REDACTED' ]['officer_appointed_date'])
df['officer_birth_year'] = df['officer_birth_year'].fillna(0.0).astype(int)
df['officer_age'] = df['officer_age'].astype(int)
df['officer_on_duty'] = df['officer_on_duty'].astype(bool)
df['officer_injured'] = df['officer_injured'].astype(bool)
df['officer_in_uniform'] = df['officer_in_uniform'].astype(bool)
df['subject_birth_year'] = df['subject_birth_year'].astype(int)
df['subject_age'] = df['subject_age'].astype(int)
df['subject_armed'] = df['subject_armed'].astype(bool)
df['subject_injured'] = df['subject_injured'].astype(bool)
df['subject_alleged_injury'] = df['subject_alleged_injury'].astype(bool)
df['notify_oemc'] = df['notify_oemc'].astype(bool)
df['notify_district_sergeant'] = df['notify_district_sergeant'].astype(bool)
df['notify_op_command'] = df['notify_op_command'].astype(bool)
df['notify_det_division'] = df['notify_det_division'].astype(bool)
df['trr_created'] = pd.to_datetime(df['trr_created'], utc=True)

In [ ]:
df[''] = df[''].astype()

In [54]:
appoint_date = df['officer_appointed_date'].to_numpy()
for i in range(len(appoint_date)):
    day = df['officer_appointed_date'][i]
    if day == 'REDACTED':
        appoint_date[i] = np.nan  
    elif len(day) == 8:
        if int(day[0:2])+2000 > 2021:
            appoint_date[i] = (19+day)

TypeError: data type 'timestamp' not understood

In [51]:
df['trr_datetime']

0        2005-04-10 17:40:00+00
1        2005-04-10 18:15:00+00
2        2005-04-10 20:30:00+00
3        2005-04-10 20:30:00+00
4        2005-04-10 21:35:00+00
                  ...
67014    2005-04-10 11:15:00+00
67015    2005-04-10 11:15:00+00
67016    2005-04-10 13:15:00+00
67017    2005-04-10 17:50:00+00
67018    2005-04-13 10:07:00+00
Name: trr_datetime, Length: 67019, dtype: object